# Configuration file for the verge electrum client
# Settings defined here are shared across wallets
#
# copy this file to /etc/electrum-xvg.conf if you want read-only settings
# copy it into your ~/.electrum-xvg/ directory if you want global settings
# that can be rewritten by the client

[client]
server = electrum-verge.xyz:50002:t
proxy = None
gap_limit = 5
# booleans use python syntax
use_change = True
gui = qt
num_zeros = 2
# default transaction fee is in Satoshis
fee = 1000000
winpos-qt = [799, 226, 877, 435]
