# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-verge.desktop

[Desktop Entry]
Comment=Lightweight Verge Client
Exec=electrum-verge %u
GenericName[en_US]=Electrum-XVG
GenericName=Electrum-XVG
Icon=electrum-verge
Name[en_US]=Electrum Verge Wallet
Name=Electrum Verge Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/VERGE;

